/* .Search {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 0 2px 3px #ccc;
    padding: 5px;
    text-align: left;
    color: rgb(73, 153, 177);
} */

.div{
    margin-left: 100px;
    margin-top: 50px;
}

.header{
    text-align: center;
    text-decoration: solid;
    color:red;
}
.body {
    background-color: rgb(73, 153, 177);
}

.mybutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 12px 6px;
    cursor: pointer;
  }